body {
    font-family: 'Hind', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.headline {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

.majorHeadline {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 1.2em;
}

h1 {
    font-size:5em;
}

.center {
    text-align:center;
}

li {
    list-style:none;
    padding-bottom:10px;
}

p, li {
    line-height:16px;
}